<app-header></app-header>
<div class="container">
    <p id="welcomeMessage">Welcome to SMART SHOP</p>
    <p id="link">
        <a (click)="register()" >Register here / </a>
        <a  (click)="login()" >Login here</a>
    </p>
</div>


<footer class="footer fixed-bottom">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark text-light mt-5">
      <div class="footer-bottom ">
        <div class="row ">
          <div>
            Copyright &copy; 2019&nbsp;&nbsp;&nbsp;
          </div>
          <div class="ml-auto">
            Follow us on:
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
          </div>
        </div>
      </div>
    </nav>
  </footer>