<app-header></app-header>

<section class="container-fluid mt-5 ">
  <br><br>
  <div class="row">
    <div class="col-lg-4 col-sm-12">
    </div>
    <div class="col-lg-4 col-sm-12 bg-light"> <br><br>
      <h1>Edit Product</h1>
      <ul class="list-group">
        <li class="list-group-item" id="edit-success">Product details saved successfully <a routerLink="/" (click)="viewProduct()">Click here</a> to view products</li>
      </ul> <br><br>
    </div>
    <div class="col-lg-4 col-sm-12">
    </div>
  </div><br><br>
</section>

<footer class="footer fixed-bottom">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark text-light mt-5">
    <div class="footer-bottom ">
      <div class="row ">
        <div>
          Copyright &copy; 2019&nbsp;&nbsp;&nbsp;
        </div>
        <div class="ml-auto">
          Follow us on:
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
        </div>
      </div>
    </div>
  </nav>
</footer>