.fa {
	padding: 7px;
	font-size: 15px;
	height: 25px;
	width: 35px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	background: white ;
	color: #3B5998;
  }
  
  .fa-twitter {
	background: white;
	color: #55ACEE ;
  }
  .fa-instagram{
	background: white;
	color: #125688;
  }

  #notification{
	  font-size:30px;
  }